@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    background-color: white;
}

.nav {
    box-shadow: 0 10px 10px -5px rgb(215, 215, 215);
    background-color: #fff;
    width: 100%;
    height: 80px;
    /* border: 2px solid black; border removed */
    display: flex;
    position: sticky;
    top: 0;
}

.nav img {
    width: 150px;
    font-weight: bold;
    margin-left: 90px;
    margin-top: -8px;
}

.btn {
    margin-left: 800px;



}

.bottom {
    display: flex;
}

.inline {
    width: 500px;
    /* height: 500px; */
    /* border: 2px solid black;   border removed */
}

h3 {
    text-align: center;
}

.inline {
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

#login {
    box-sizing: content-box;
    padding: 0px 15px 0px 15px;
    height: 30px;
    color: black;
    background-color: white;
    border: 1px solid black;
    font-weight: bold;

}

#signup {
    height: 30px;
        text-align: center;
        color: white;
        background-color: #22d172;
        border: none;
        line-height: 30px;

}

#login:hover {
    background-color: #566583;
    color: white;
}

#signup:hover {
    color: #f2d937;
        background-color: #45e890;
}

.inline:nth-child(1) {
    justify-content: baseline;
}

.userBtn {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    width: 80%;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    /* margin-left: 100px; */
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    /* width: 100%; */
    color: #0d233b;
}

.userBtn:hover {
    background-color: #566583;
    color: white;
    /* font-weight: 600; */

}

.inline:nth-child(2) div {
    font-weight: bold;


}

.inline:nth-child(1) h3 {
    color: #1a2e44;
    font-size: 40px;
    margin-bottom: 30px;
    font-family: Poppins, system-ui;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.25;
    box-sizing: inherit
}

#signupWithEmailBtn,#signupWithEmail input[type=submit] {
    /* padding: 14px 15px; */
    width: 90%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #16bd62;
    color: white;
    border: none;
    font-weight: 600;
}

#signupWithEmailBtn:hover,#signupWithEmail input[type=submit]:hover {
    background-color: #45e890;
    color: white;
    font-weight: 600;
}
#signupWithEmail{
    width: 300px;
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height:400px;
}
#signupWithEmail input{
    text-align: center;
    height: 50px;
    width: 100%;
}
.inline:nth-child(1) p {
    text-align: center;
    letter-spacing: 0;



}

.inline:nth-child(1) p a {
    color: #4c83ee;
}